@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #e8e8e8;
  color: #1e1f21;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.r-g-header.is-open .r-g-header-background {
  left: 0;
}
.r-g-header-button-wrapper {
  margin-left: auto;
}
.r-g-header-icon {
  display: none;
}

.r-g-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.r-g-navigation-list.is-open {
  right: 0;
}
.r-g-header-icon-menu {
  display: block;
}

.r-g-header-icon-button.is-open .r-g-header-icon-menu {
  display: none;
}

.r-g-header-icon-button.is-open .r-g-header-icon-close {
  display: block;
}

.r-g-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 48px;
  background: #1e1f21;
}

.r-g-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #1e1f21;
}
.r-g-header.is-open .r-g-header-background {
  left: 0;
}
.r-g-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.r-g-header-icon-menu {
  display: block;
}

.r-g-header-icon-button.is-open .r-g-header-icon-menu {
  display: none;
}

.r-g-header-icon-button.is-open .r-g-header-icon-close {
  display: block;
}

.r-g-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 12px;
  position: relative;
}

.r-g-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 32px 32px;
  gap: 20px;
  background: #1e1f21;

  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.r-g-navigation-list.is-open {
  right: 0;
}

.r-g-navigation-link {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #e8e8e8;
}

.r-g-navigation-link:hover,
.r-g-navigation-link:focus {
  color: #4be3f1;
}

.r-g-header.is-open {
  background-color: transparent;
}

.r-g-navigation-img {
  display: none;
}
.r-g-navigation-item-desk {
  font-family: Poppins;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}

@media screen and (min-width: 1203px) {
  .r-g-navigation-img {
    display: flex;
  }
  .r-g-header-icon-title {
    display: none;
  }
  .r-g-header-button-wrapper {
    display: none;
  }
  .r-g-header {
    width: 100%;
    height: 78px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .r-g-header-background {
  }
  .r-g-header-icon-button {
    display: none;
  }
  .r-g-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .r-g-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 25px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .r-g-navigation-link {
    text-decoration: none;
    font-family: Poppins;
    font-weight: 275;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;

    width: 120px;
    padding: 0 20px;
    display: block;
    margin: 0 10px;
    text-align: center;
  }

  .r-g-navigation-item-desk {
    display: none;
  }
}
.r-g-home {
  margin: auto;
  background: #1e1f21;
}
.r-g-home-container {
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/1_home_mob.png");
  width: 375px;
  padding: 74px 16px 0px;
  margin: auto;
}

.r-g-home-title {
  font-family: Fugaz One;
  font-weight: 400;
  font-size: 22px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
}

.r-g-home-text {
  font-family: Fugaz One;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  color: #e8e8e8;
  padding: 80px 10px 36px;
}
.r-g-home-text-two {
  font-family: Poppins;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  color: #e8e8e8;

  background: #1e1f21;
  margin-bottom: 266px;
}

.r-g-home-link {
  transition: all 0.3s ease-in-out;
  display: block;
  background: #4be3f1;
  box-shadow: 0px 3px 4px 0px #000000cc;
  width: 240px;
  border-radius: 8px;
  padding: 9px 0;
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
  text-decoration: none;
  margin: 0 auto;
}

.r-g-home-link:hover {
  background: #a0ebf2;
  box-shadow: 0px 3px 4px 0px #000000cc;
}

@media screen and (min-width: 1203px) {
  .r-g-home-container {
    height: 888px;
    background-image: url("/img/home/1_home.png");
    width: 1440px;
    padding: 142px 120px 0px;
  }
  .r-g-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 584px;
  }

  .r-g-home-title {
    font-family: Fugaz One;
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .r-g-home-text {
    font-family: Fugaz One;
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0%;
    margin: 120px 0 60px;
    background: #1e1f21;
    text-align: left;
    padding: 0;
  }
  .r-g-home-text-two {
    text-align: left;
    color: #e8e8e8;

    background: #1e1f21;
    margin-bottom: 64px;
  }
}
.r-g-about {
  margin: auto;
  background: #1e1f21;
}
.r-g-about-container {
  width: 375px;
  height: 679px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/2.png");
  padding: 40px 20px 0px;
  margin: auto;
}
.r-g-about-title-div {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.r-g-about-title {
  font-family: Fugaz One;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #e8e8e8;
  display: flex;
  align-items: center;
  gap: 10px;
}
.r-g-about-title-text {
  font-family: Poppins;
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  color: #4be3f1;
  padding: 0 16px;
}
.r-g-about-title-img {
  background: #4be3f1;
  width: 10px;
  height: 10px;
  border-radius: 2px;
}
.r-g-about-text {
  font-family: Poppins;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  padding: 32px 85px 0 0;
  color: #e8e8e8;
}

@media screen and (min-width: 1203px) {
  .r-g-about-container {
    width: 1440px;
    height: 495px;
    background-image: url("/img/22.png");
    padding: 80px 120px;
  }
  .r-g-about-title-div {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
  }

  .r-g-about-text {
    font-family: Poppins;
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0%;

    padding: 100px 308px 0 154px;
    color: #e8e8e8;
  }
}
.r-g-why {
  margin: auto;
  width: 375px;
  height: 910px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/3_Come\ Funziona_mob.png");
}

.r-g-why-container {
  width: 375px;
  margin: auto;
  padding: 40px 20px;
}
.r-g-why-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.r-g-why-item {
}
.r-g-why-item-two {
  display: flex;
  gap: 16px;
  align-items: center;
}
.r-g-why-number {
  width: 48px;
  height: 48px;
  gap: 10px;
  border-radius: 16px;
  background: #1e1f21;
  font-family: Fugaz One;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #4be3f1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.r-g-why-text-bold {
  font-family: Poppins;
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0%;
}
.r-g-why-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  padding-top: 8px;
}
.r-g-why-lists {
  display: none;
}
@media screen and (min-width: 1203px) {
  .r-g-why {
    width: 1440px;
    height: 769px;
    background-image: url("/img/3_Come\ Funziona.png");
  }
  .r-g-why-container {
    width: 1440px;
    padding: 80px 120px;
  }
  .r-g-why-list {
    display: none;
  }
  .r-g-why-lists {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 584px;
  }
  .r-g-why-item {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .r-g-why-number {
    width: 76px;
    height: 76px;
    gap: 10px;
    border-radius: 16px;
    font-family: Fugaz One;
    font-weight: 400;
    font-size: 56px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }
  .r-g-why-text-bold {
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    width: 492px;
  }
  .r-g-why-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    width: 492px;
    padding-top: 8px;
  }
}

.r-g-uniqueness {
  margin: auto;
  background: #1e1f21;
}
.r-g-uniqueness-container {
  margin: auto;
  width: 375px;
  height: 818px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/4_Nuove\ Parole_mob.png");
  padding: 40px 20px 0;
}
.r-g-uniqueness-title-text {
  padding: 0 50px;
}
.r-g-uniqueness-textq {
  font-family: Poppins;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  color: #e8e8e8;
  padding-top: 32px;
}
.r-g-uniqueness-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.r-g-uniqueness-item {
  display: flex;
  gap: 14px;
}

.r-g-uniqueness-text-bold {
  font-family: Fugaz One;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #4be3f1;
}
.r-g-uniqueness-text {
  font-family: Poppins;
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #e8e8e8;
}
.r-g-uniqueness-textw {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 32px;
  color: #e8e8e8;
}
@media screen and (min-width: 1203px) {
  .r-g-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 80px 120px;
    height: 529px;
    background-image: url("/img/4_Nuove\ Parole.png");
  }
  .r-g-uniqueness-title-text {
    padding: 0;
  }
  .r-g-uniqueness-textq {
    font-family: Poppins;
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 80px;
  }
  .r-g-uniqueness-list {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .r-g-uniqueness-item {
    display: flex;
    gap: 14px;
  }

  .r-g-uniqueness-text-bold {
    font-family: Fugaz One;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0%;
  }
  .r-g-uniqueness-text {
    font-family: Poppins;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;

    color: #e8e8e8;
  }
  .r-g-uniqueness-textw {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 56px;
    color: #e8e8e8;
  }
}
.r-g-how {
  margin: auto;
  width: 375px;
  height: 742px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/5_intelligenza_mob.png");
}
.r-g-how-container {
  margin: auto;
  width: 375px;
  padding: 40px 20px 0;
}
.r-g-how-title-text {
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  color: #1e1f21;
}
.r-g-how-text-bold {
  font-family: Poppins;
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 32px;
}
.r-g-how-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.r-g-how-item {
  display: flex;
  gap: 16px;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
}

.r-g-how-text {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #4be3f1 0%,
    rgba(30, 31, 33, 0.9) 100%
  );
  width: 10px;
  height: 10px;
  border-radius: 2px;
  display: block;
}
.r-g-how-texta {
  width: 317px;
}
.r-g-how-text-boldq {
  font-family: Poppins;
  font-weight: 300;
  font-size: 19px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 24px;
}
@media screen and (min-width: 1203px) {
  .r-g-how {
    width: 1440px;
    height: 675px;
    background-image: url("/img/5_intelligenza.png");
  }
  .r-g-how-container {
    margin: auto;
    width: 1440px;
    padding: 80px 120px;
  }
  .r-g-how-title-text {
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
  }
  .r-g-how-text-bold {
    font-family: Poppins;
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 100px;
    margin-left: 616px;
  }
  .r-g-how-list {
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-left: 616px;
  }

  .r-g-how-item {
    display: flex;
    gap: 16px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .r-g-how-texta {
    width: fit-content;
  }
  .r-g-how-text-boldq {
    font-family: Poppins;
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 616px;
    padding-top: 64px;
  }
}

.r-g-characters {
  margin: auto;
  background: #1e1f21;
}
.r-g-characters-container {
  padding: 40px 22px;
  margin: auto;
  width: 375px;
  height: 793px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/6_Vocabolario_mob.png");
  color: #e8e8e8;
}
.r-g-characters-text-bold {
  font-family: Poppins;
  font-weight: 300;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 32px;
}
.r-g-characters-list {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  gap: 16px;
}
.r-g-characters-item {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;

  border-radius: 16px;
  padding: 20px 4px 20px 10px;
  border-width: 1px;
  border: 1px solid #4be3f1;
  background: #1e1f21;
}

.r-g-characters-text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 32px;
}

@media screen and (min-width: 1203px) {
  .r-g-characters-container {
    padding: 80px 120px;
    margin: auto;
    width: 1440px;
    height: 543px;
    background-image: url("/img/6_Vocabolario.png");
  }
  .r-g-characters-text-bold {
    font-family: Poppins;
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;

    padding-top: 80px;
  }
  .r-g-characters-list {
    display: flex;
    flex-direction: row;
    padding: 56px 132px;
    gap: 32px;
    justify-content: center;
  }
  .r-g-characters-item {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    width: 254;
    height: 108;
    gap: 10px;
    border-radius: 16px;
    border-width: 1px;
    padding: 32px;
    width: 254px;
  }
  .r-g-characters-itemd {
    width: 369px;
  }
  .r-g-characters-text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    padding: 0;
  }
}

.r-g-reviews {
  margin: auto;
  width: 375px;
  height: 972px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/8_recensioni_mob.png");
}
.r-g-reviews-container {
  margin: auto;
  padding: 40px 16px 0;
  width: 375px;
}
.r-g-reviews-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.r-g-reviews-item {
  border-radius: 16px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  background: #1e1f21;
  color: #e8e8e8;
}

.r-g-reviews-text-bold {
  font-family: Poppins;
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
}

.r-g-reviews-text {
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: right;
}

@media screen and (min-width: 1203px) {
  .r-g-reviews {
    width: 1440px;
    height: 782px;
    background-image: url("/img/8_recensioni.png");
  }
  .r-g-reviews-container {
    margin: auto;
    padding: 80px 120px;
    width: 1440px;
  }
  .r-g-reviews-list {
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 892px;
  }

  .r-g-reviews-item {
    border-radius: 16px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
  }

  .r-g-reviews-text-bold {
    font-family: Poppins;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .r-g-reviews-text {
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: right;
  }
}

.r-g-faq-container {
  padding: 40px 16px;
  width: 375px;
  margin: auto;
}
.r-g-faq-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.r-g-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
  border-bottom: 2px solid #4be3f1;

  justify-content: space-between;
  border-bottom-width: 2px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
}

.r-g-faq-answer {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
}
.r-g-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.r-g-toggle-button img {
  transition: transform 0.3s ease;
  width: 24px;
  height: 24px;
}
.r-g-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}

.r-g-faq-answer.open {
  max-height: 200px;
  opacity: 1;

  padding-top: 4px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
}

.r-g-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1203px) {
  .r-g-faq-container {
    padding: 80px 120px;
    width: 1440px;
    margin: auto;
  }
  .r-g-faq-list {
    padding: 64px 154px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .r-g-faq-question {
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .r-g-faq-answer {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0%;
  }
}

.r-g-container {
  padding: 80px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
}

.r-g-container h1 {
  font-family: Fugaz One;
  font-weight: 400;
  font-size: 38px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}

.r-g-container h2 {
  margin-top: 10px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0%;
}

.r-g-container h3 {
  margin-top: 10px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0%;
}

.r-g-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.r-g-container ul li {
  margin-bottom: 10px;
}
.r-g-container p {
  margin-top: 10px;
}
.r-g-container a {
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.r-g-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1203px) {
  .r-g-container {
    padding: 120px 189px 80px;
    width: 1440px;
    margin: auto;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .r-g-container h1 {
    font-family: Fugaz One;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .r-g-container h2 {
    margin-top: 20px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .r-g-container h3 {
    margin-top: 20px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .r-g-container ul {
    margin-top: 20px;
  }

  .r-g-container ul li {
    margin-bottom: 10px;
  }
  .r-g-container p {
    margin-top: 20px;
  }
}

.r-g-footer-container {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  color: #e8e8e8;
}

.r-g-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.r-g-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Poppins;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}

.r-g-footer-copyright {
  font-family: Poppins;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0%;
}
.r-g-footer-title {
  font-family: Poppins;
  font-weight: 300;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  color: #4be3f1;
}
@media screen and (min-width: 1203px) {
  .r-g-footer-container {
    width: 1440px;
    padding: 80px 0px;
    display: flex;

    gap: 40px;
  }
  .r-g-footer-title {
    font-family: Poppins;
    font-weight: 300;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0%;
  }
  .r-g-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 48px;
  }

  .r-g-footer-text {
    font-family: Poppins;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .r-g-footer-copyright {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;
  }
}

.r-g-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 40px 36px;
  background: #1e1f21;

  z-index: 1000;
  display: none;
}

.r-g-cookie-popup-text-two {
  font-family: Poppins;
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  color: #e8e8e8;
}

.r-g-cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.r-g-cookie-button {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #4be3f1;

  padding: 10px;
  border-bottom-width: 2px;
  font-family: Poppins;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #e8e8e8;
}

#accept-cookies {
  border: 1px solid #4be3f1;
  box-shadow: 0px 2px 4px 0px #000000cc;

  border-radius: 8px;
  border-width: 1px;
  padding: 10px;
}

.r-g-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1203px) {
  .r-g-cookie-popup-text-two {
    font-family: Poppins;
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
  }

  .r-g-cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .r-g-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 40px;
    display: none;
  }
}
